body{
    background-color: rgb(36, 34, 34);
}

a{
    text-emphasis: none;
    text-decoration: none;
    color: rgb(201, 201, 201);
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-img{
    width: 30vh;
    height: auto;
}

.recetas-container{
    margin: auto;
    max-width: 70vw;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items:center;
    padding: 10px 10px 10px 10px;
}

.receta-box{
    max-width: 35vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    color: rgb(255, 175, 56);
    border: 5px solid rgb(241, 144, 87);
    border-radius: 3px;
    margin: 5px;
}

.receta-box img{
    width: 30vw;
    height: auto;
}
